Repository kolonialno/oda-wd-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: make lint-black
        language: system
        types: [python]
        exclude: ^.*\b(migrations)\b.*$

      - id: isort
        name: isort
        entry: make lint-isort
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: make lint-flake8
        language: system
        types: [python]
        exclude: ^.*\b(migrations)\b.*$

      - id: mypy
        name: mypy
        entry: make lint-mypy
        language: system
        types: [python]
        exclude: ^.*\b(migrations)\b.*$

      - id: yamllint
        name: yamllint
        entry: .venv/bin/yamllint
        language: system
        files: \.(yaml|yml)$
        args:
          - '--config-file=.yamllint'

🔖 version: Bump to 0.0.1
  pyproject.toml
Due: none

🚀 improvement: Set up CI
  .github/actions/setup-project/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
Due: yamllint

🧑‍💻 improvement: Add class name to WD ref models
  oda_wd_client/base/types.py
  oda_wd_client/service/financial_management/types.py
  oda_wd_client/service/resource_management/types.py
Due: black, isort, flake8, mypy

👔 improvement: Add more logic for supplier invs
  oda_wd_client/service/resource_management/types.py
  oda_wd_client/service/resource_management/utils.py
  oda_wd_client/types/resource_management.py
Due: black, isort, flake8, mypy

🔖 version: Bump to 0.0.2
  pyproject.toml
Due: none

👔 improvement: Add changes for journal sync
  oda_wd_client/service/financial_management/__init__.py
  oda_wd_client/service/financial_management/api.py
  oda_wd_client/service/financial_management/types.py
  oda_wd_client/service/financial_management/utils.py
  oda_wd_client/service/human_resources/types.py
  oda_wd_client/service/resource_management/types.py
  oda_wd_client/service/staffing/types.py
  oda_wd_client/types/financial_management.py
Due: black, isort, flake8, mypy

🔖 version: Bump to 0.0.3a0
  pyproject.toml
Due: none

➕ improvement: Add magic MIME library
  poetry.lock
  pyproject.toml
Due: none

🔊 improvement: Add log-to-file
  oda_wd_client/base/api.py
Due: black, isort, flake8, mypy

🧑‍💻 improvement: improve ref model + add file model
  oda_wd_client/base/types.py
Due: black, isort, flake8, mypy

📝 docs: Add link to class reference for types
  oda_wd_client/service/financial_management/types.py
  oda_wd_client/service/human_resources/types.py
  oda_wd_client/service/resource_management/types.py
  oda_wd_client/service/staffing/types.py
Due: black, isort, flake8, mypy

🧑‍💻 fix: Improve mypy setup
  pyproject.toml
Due: none

🏷️ fix: Nullable workday_id + type narrowing in subclasses
  oda_wd_client/base/types.py
  oda_wd_client/service/financial_management/types.py
  oda_wd_client/service/resource_management/types.py
Due: black, isort, flake8, mypy

👔 improvement: Add supplier inv listing + attachments
  oda_wd_client/service/resource_management/api.py
  oda_wd_client/service/resource_management/types.py
  oda_wd_client/service/resource_management/utils.py
Due: black, isort, flake8, mypy

🔖 version: Bump to v0.0.3a1
  pyproject.toml
Due: none

👷 improvement: add semgrep
  .github/workflows/semgrep.yaml
Due: yamllint

👔 improvement: Fix bugs + improve invoice-related APIs
  oda_wd_client/service/__init__.py
  oda_wd_client/service/financial_management/api.py
  oda_wd_client/service/financial_management/types.py
  oda_wd_client/service/financial_management/utils.py
  oda_wd_client/service/resource_management/api.py
  oda_wd_client/service/resource_management/exceptions.py
  oda_wd_client/service/resource_management/types.py
  oda_wd_client/service/resource_management/utils.py
  oda_wd_client/types/financial_management.py
  oda_wd_client/types/resource_management.py
Due: black, isort, flake8, mypy

🔖 version: Bump to v0.0.3
  poetry.lock
  pyproject.toml
Due: none

👔 improvement: Add budget date field to sup. invoice
  oda_wd_client/service/resource_management/types.py
Due: black, isort, flake8, mypy

🔖 version: Bump to v0.0.4
  pyproject.toml
Due: none

👔 improvement: Add support for more VAT IDs
  oda_wd_client/service/resource_management/types.py
  oda_wd_client/service/resource_management/utils.py
Due: black, isort, flake8, mypy

🔖 version: Bump to v0.0.5
  pyproject.toml
Due: none

add integration journal source
  oda_wd_client/service/financial_management/types.py
Due: black, isort, flake8, mypy
